body{
    background-color: lightgray;
    padding-:;
}

table{
    width: 100%;
    height: auto;
    align-items: center;
    
}

.left{
    width: 200px;
    background-color: rgb(0, 81, 128);
    padding: 20px;

}

#me{
    border-radius: 50%;
    width: 200px;
    height: 400px;
}

.right{
    text-align: center;

}

#name{
    font-size: 70px;
}

.gmail{
    height: 30px; 
    width: 30px;
}

.linkedin{
    height: 30px; 
    width: 30px;
}

.facebook{
    height: 30px; 
    width: 30px;
}

#button{
    height: 40px;
    width: 40px;
    border: solid;
    border-color: red;
}